---
interface Props {
	title: string;
	url: string;
	imgUrl: string;
}

const { title, url, imgUrl } = Astro.props;
---
<a href={url} target="_blank" rel="noopener noreferrer" title={title}>
	<img src={imgUrl} alt={title} />
	<div class="cite-box">
		<cite>{title}</cite>
	</div>
</a>

<style>
a {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	margin-top: 8px;
}

a img {
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	position: relative;
}

a img:hover {
	transform: scale(1.1); /* 画像を現在の大きさの1.2倍に拡大する */
	transform-origin: center; /* 拡大の基準点を画像の中心に設定する */
	transition: transform 0.2s ease-in-out; /* 拡大アニメーションの時間と動きを指定する */
}

a .cite-box {
	background-color: #eee;
	padding: 8px;
	position: relative;
	z-index: 10;
}

a cite {
	color: #333;
	font-size: 12px;
	line-height: 1.4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
